* {
  font-family: courier, monospace;
}

.fg-black {
  color: black;
}

.fg-white {
  color: white;
}

.bg-black {
  background-color: black;
}

.bg-gray {
  background-color: gray;
}

.bg-tan {
  background-color: tan;
}

.bg-white {
  background-color: white;
}

.border-style {
  border: 2px solid black;
}







.navbar-light .navbar-nav .active > .nav-link {
  color: burlywood !important;
}

.main-col {
  height: 60vmax;
}

.section-col {
  height: 80vmin;
}

footer {
}






#section-col-education {
  background-color: tan;
}

.contact-col {
  height: 10vmin;
}

.contact-col div a,
.contact-col div a:hover,
.contact-col div a:visited {
  color: black;
  text-decoration: none;
}

.portfolio-image {
  height: 100%;
}

.barricade {
  background: repeating-linear-gradient( 45deg, gray, gray 10px, darkgray 10px, darkgray 20px );
}











@media screen and (max-height: 400px) and (min-width: 500px) {
  .section-col {
    height: 80vmax;
  }
}

@media screen and (max-width: 991px) {
  .barricade {
    height: 10vh !important;
  }
}

@media screen and (max-width: 376px) {
  * {
    font-size: 0.25rem;
  }
  #title {
    display: none;
  }
}

@media screen and (max-width: 476px) {
  * {
    font-size: 0.75rem;
  }
}

@media screen and (max-height: 400px) and (min-width: 500px) {
  .section-col {
    height: 80vmax;
  }
}
