@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#terminal-container::before {
  background: url(../img/mac_lg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: sepia(80%);
  position: absolute;
  content: "";
  top: 0; left: 0;
  width: 100%; min-height: 100%;
}

#terminal-div {
    background-color: rgba(0, 0, 0, 0.8);
    color: green;
    font-family: monaco !important;
    border-radius: 0.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 90%;
}

#terminal-bar {
    background: linear-gradient(to right, rgb(192, 192, 192), rgb(202, 202, 202));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 32px;
    position: relative;
}

.faux-button {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#close
{
    background-color: red;
    margin-left: 0.75rem;
}

#minimize {
    background-color: gold;
    margin-left: 2rem;
}

#expand {
    background-color: green;
    margin-left: 3.25rem;
}

#title {
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#terminal-body * {
  font-size: 1.5rem;
}

#typed-strings {
    display: none;
}

.typed-cursor {
    opacity: 1;
    animation: blink .7s infinite;
}

@media screen and (max-width: 366px) {
  #terminal-container::before {
    background: url(../img/mac_x_sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #title {
    display: none;
  }
}

@media screen and (min-width: 367px) and (max-width: 575px) {
  #terminal-container::before {
    background: url(../img/mac_sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #title {
    font-size: 0.5em;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  #terminal-container::before {
    background: url(../img/mac_md.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #title {
    font-size: 0.75em;
  }
}

@media screen and (min-width: 768px) {
  #title {
    font-size: 1em;
  }
}
